<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('evento_controller.listar_eventos') }}">Eventos</a></li>
          <li><a href="{{ url_for('local_controller.listar_locais') }}">Locais</a></li>
          <li><a href="{{ url_for('pessoa_controller.listar_pessoas') }}">Pessoas</a></li>
          <li><a href="{{ url_for('booking_controller.listar_bookings') }}">Bookings</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; 2023</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
